body {
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
  min-height: 830px;
  max-height: 1472px;
}

main {
  height: 100vh;
}
.main-header {
  z-index: 1;
  top: 3vh;
  height: 36px;
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: inherit;
}

.nav-links button,
div,
div input {
  flex: auto;
  border: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(126, 126, 126);
  cursor: pointer;
  outline: none;
  color: white;
  background-image: linear-gradient(to top, #8a8a8a 50%, #737373 50%);
}

.nav-links button img {
  vertical-align: middle;
  height: 20px;
  border-style: none;
}

.search-box {
  display: flex;
}
.search-box-area {
  align-self: center;
  flex: auto;
  background-image: url(/images/search-img.svg),
    linear-gradient(to top, #8a8a8a 50%, #737373 50%);
  background-repeat: no-repeat;
  width: 120px;
  height: 22px;
  cursor: text;
  background-position: left;
  color: rgb(241, 241, 241);
  padding-left: 20px;
  box-shadow: inset 0 2px 1px rgb(53, 52, 52);
  border-radius: 20px;
  transition: all 0.4s;
}

input:focus {
  width: 200px;
  background-image: url(/images/search-im2.svg),
    linear-gradient(to top, #ffffff 50%, #ffffff 50%);
  background-repeat: no-repeat;
  background-position: 5px 50%;
  color: rgb(83, 83, 83);
  text-indent: 3%;
}

button:hover {
  background-image: none;
  background-color: #494949;
  text-align: center;
}

.main-article {
  top: -38px;
  position: relative;
  min-width: 100%;
}

.main-article-content {
  background-image: url(/images/main-background.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: cover;
  min-width: 100%;
  min-height: 70vh;
}

.main-article-content-container {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 980px;
  max-width: 980px;
  margin: 0 auto;
}

.primary-heading {
  height: 95px;
}

.third-heading {
  margin-top: 17px;
}

.shopping-links-container {
  position: relative;
  top: -35px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  gap: 3px;
}

.shopping-links-container figure img {
  max-height: 100%;
  max-width: 100%;
}
